body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    list-style: none;
    border: 2px solid #bcbcbc;
    display: inline-block;
    border-radius: 10px;
    margin: 1em;
    padding: 0;
}

ul>li>div>* {
    margin: 0;
}

ul>li {
    display: flex;
    align-items: flex-start;
    padding: 1em 2em;
    position: relative;
    min-width: 400px;
}

li.phone {
    color: #666;
}

li .pic {
    height: 60px;
    width: 67px;
    background-position: center;
    border-radius: 100%;
    background-size: cover;
    position: relative;
    right: 10px;
}

li .msg,
.time {
    margin-top: 1em;
}

li:nth-child(odd) {
    background-color: aquamarine;
}

li:nth-child(even) {
    background-color: #c3f8e6;
}

li.unread {
  background-color: darksalmon;
  border-bottom: 1px solid black;
}

li .numb-unread {
    position: absolute;
    top: 1em;
    right: 1em;
    background: green;
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
}