img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.body {
    margin-left: 1em;
}

li {
    display: inline-flex;
    align-items: center;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 1em;
    border-radius: 5px;
    width: 300px;
}

p {
    margin: 0;
}